@use '../base';

.sidebar {
  width: 255px;
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid #ccc;
  z-index: 1000;

  &.fixed {
    position: fixed;
  }

  @include base.breakpoint(lg) {
    display: none;
    position: fixed;
  }

  &.show {
    display: block;
  }

  .text-logo__collapsed {
    display: none;
  }

  .text-logo__expanded {
    display: block;
  }

  &.collapsed {
    width: 90px;
    // padding: 0px 0px 0px 8px;
    padding: 4px;
    border-right: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    .text-logo__collapsed {
      display: block;
    }

    .text-logo__expanded {
      display: none;
    }

    .tab-item__link {
      .tab-item__link--text {
        display: none;
      }
    }

    .sidebar-collapse svg {
      transform: rotate(180deg);
    }
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    margin-bottom: 20px;
    svg {
      width: 70px;
      height: 70px;
    }
  }

  .tab-item {
    margin-left: 12px;

    &.active {
      position: relative;
      background-color: #f6f6f6;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: base.$color-primary;
        width: 8px;
        height: 100%;
        z-index: 900;
        border-radius: 8px 0 0 8px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 2rem;
      padding: 16px;
      width: 100%;
      line-height: 2rem;
      background-color: inherit;
      color: rgb(41, 55, 73);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
      text-decoration: none;
      @include base.breakpoint(md) {
        font-size: 1.6rem;
      }
    }

    &__icon {
      svg {
        width: 32px;
        height: 32px;
        @include base.breakpoint(md) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .sidebar-collapse {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    z-index: 999;

    .icon svg {
      width: 18px;
      height: 18px;
    }
  }
}
