@use '../base';

#topic {
  .topic-content {
    padding: 8px 32px 48px;
    margin-top: 65px;
    @include base.breakpoint(sm) {
      padding: 8px 16px 24px;
    }

    .title {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  .topic-row {
    margin-top: 20px;
  }

  .list-topic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 20px;
    @include base.breakpoint(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .topic-item {
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(231, 234, 240);
    width: 100%;
    position: relative;
    @include base.breakpoint(sm) {
      flex-direction: column;
    }

    .btn-topic:hover {
      opacity: 0.8;
    }

    .btn-start {
      padding: 8px 16px;
      border-radius: 12px;
      border: 1px solid #333;
      max-height: 36px;
    }
  }

  .topic-item__img {
    width: 170px;
    height: 160px;
    border-radius: 16px;
    @include base.breakpoint(sm) {
      margin: 12px auto;
    }
  }
}
