@use '../base';

.vocabulary-main {
  overflow: auto;
  width: 100%;
  background-color: rgb(255, 252, 243);
}

.vocabulary-content {
  width: 60%;
  padding: 8px 32px 48px;
  margin-top: 65px;
  min-height: 100vh;
  @include base.breakpoint(md) {
    width: 80%;
    padding: 8px 8px 32px;
  }
  @include base.breakpoint(sm) {
    width: 95%;
  }
}

.vocabulary-content__body {
  .btn-filter {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 2rem;
    border: none;
    box-shadow: none;
    font-weight: 700;
    color: #afafaf;
    background-color: transparent;
  }

  .dropdown-content__filter {
    top: 120%;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 12px;
    border: 2px solid #e5e5e5;
    overflow: hidden;

    li {
      padding: 12px 4px;
      border-bottom: 1px solid #eaeaea;

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      & a:hover {
        background-color: #f5f5f5;
      }

      &.active {
        color: base.$color-primary;
        background-color: #fffcf3;
      }
    }
  }

  .list-vocabulary {
    .item {
      border: 2px solid #e5e5e5;
      border-bottom: none;

      &:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }

      &:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom: 2px solid #e5e5e5;
      }
    }
  }
}

.vocabulary-content__search {
  .input {
    width: 100%;
    height: auto;
    padding: 8px 12px;
    font-size: 1.8rem;
    border-radius: 12px;
    outline: none;
    gap: 8px;
  }
}
